// ===========
//  DEVICE-WIDTHS
// ========
$screen-desktop: 960px;

// ===========
//  BASE STYLES
// ========
body {
  width: auto;
  font-family: $font-family-primary;
  letter-spacing: -1px;
  background-color: $background-color;

  input {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
  }

  p {
    margin: 0;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  // ===========
  //  DESKTOP STYLES
  // ========
  @media (min-width: $screen-desktop) {
    width: 960px;
    margin: 0 auto;
  }
}
