// ===========
//  DEVICE-WIDTHS
// ========
$screen-desktop: 960px;

// ===========
//  BASE STYLES
// ========
body {
  width: auto;
  font-family: $font-family-primary;
  letter-spacing: -1px;
  background-color: $background-color;

  input {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
  }

  p {
    margin: 0;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .body-background-footer, .body-background-header {
    display: none;
  }

  // ===========
  //  DESKTOP STYLES
  // ========
  @media (min-width: $screen-desktop) {
    position: relative;
    overflow-x: hidden;

    .body-background-footer {
      display: initial;
      position: absolute;

      &--road {
        @include sprite($road);

        bottom: 0;
        left: 0;
        z-index: -1;
      }

      &--car {
        @include sprite($desktop-car);

        bottom: 65px;
        left: 0;
      }
    }

    .body-background-header {
      display: initial;
      position: absolute;

      &--cloud-left {
        @include sprite($desktop-cloud-left);

        top: 41px;
        left: 0;
      }

      &--cloud-right {
        @include sprite($desktop-cloud-right);

        top: 96px;
        right: 0;
      }
    }
  }
}
