// ===========
//  COMMON
// ========
$background-color: #97c3be;
$white-color: #fff;
$black-color: #000;

// ===========
//  HEADER
// ========
$header-info-text-color: #2d3c4e;

// ===========
//  CALL-TO-ACTION
// ========
$call-to-action-info-text-color: #2d3c4e;
$call-to-action-info-btn-color: #2d3c4e;

// ===========
//  STEPS
// ========
$steps-number-color-1: #2d3c4e;
$steps-number-color-2: #e3af19;
$steps-number-color-3: #6fb656;
