.footer {
  position: relative;
  height: 370px;
  overflow: hidden;
  text-align: center;

  &__share-text {
    width: 230px;
    height: 35px;
    margin: 30px auto 20px auto;
    color: $footer-share-text-color;
    font-size: 16px;
    line-height: 21px;
  }

  &__share-icons {
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 28px;

    &__facebook {
      @include sprite($facebook);
    }

    &__twitter {
      @include sprite($twitter);

      margin: 0 20px;
    }

    &__instagram {
      @include sprite($instagram);
    }
  }

  &__customer-care {
    width: 220px;
    height: 33px;
    margin: 0 auto 22px auto;
    font-family: $font-family-secondary;
    font-size: 12px;
    line-height: 24px;
    color: $footer-customer-care-color;

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }

  &__background {
    position: absolute;

    &--car {
      @include sprite($car);

      left: 33px;
      bottom: 66px;
    }

    &--road {
      @include sprite($road);

      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  // ===========
  //  DESKTOP STYLES
  // ========
  @media (min-width: $screen-desktop) {
    height: 230px;

    &__share-text {
      display: none;
    }

    &__share-icons {
      margin-top: 45px;
      margin-bottom: 36px;

      &__twitter {
        margin: 0 10px;
      }
    }

    &__customer-care {
      width: 352px;

      p {
        display: inline;
      }
    }

    &__background {
      display: none;
    }
  }
}
